.file-container{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.dropdown-header {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 10px;
}

.dropdown-header select{
  padding: 5px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #333;
  max-width: 200px;
}

.file button{
  padding: 8px 16px;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn{
  width: 30px;
  height: 30px;
}

@media (max-width: 600px) {
  .file{
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .file-container {
    flex-direction: row;
    align-items: flex-start;
  }

  .file button {
    margin-top: 10px;
    width: 100%;
  }
  .btn{
    width: 20px;
    height: 20px;
  }
}
