<div class="header-container">
  <div class="logo">
    <a routerLink="/">
      <img src="assets/images/logoLT.png" alt="Perfume Online Shop Logo" class="logo-image" />
    </a>
  </div>

  <div class="nav-links">
    <a routerLink="/">Home</a>
    <a routerLink="/products">Our Best Products</a>
    <a routerLink="/perfume">Perfume</a>
    <a routerLink="/collections">Collections</a>
    <a routerLink="/about">About Us</a>
    <a routerLink="/contact">Contact</a>
  </div>

  <div class="user-actions">
    <a (click)="checkLogin()" class="login-link">
      <img src="assets/icon/user-icon.png" alt="User Login" class="icon" />
    </a>

     <a routerLink="/search" class="login-link">
      <img src="assets/icon/search.png" alt="User search" class="icon" />
    </a>

     <a routerLink="/favoriteList" class="login-link">
      <img src="assets/icon/heart.png" alt="User favorite list" class="icon" />
    </a>

    <a *ngIf="isLoggedIn" routerLink="/cart" class="cart-link">
      <img src="assets/icon/cart-icon.png" alt="Shopping Cart" class="icon" />
    </a>

    <a *ngIf="isLoggedIn" (click)="logout()" class="logout">Logout</a>

    <a *ngIf="!isLoggedIn" routerLink="/login" class="login-btn">Login</a>
  </div>
</div>
