.logo-image {
  height: 100px;
  width: auto;
  border-radius: 50%;
}

.header-container {
  /* position: fixed; */
  top: 0;
  width: 100%;
  background-color: transparent;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 50px;
}

.nav-links a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.nav-links a:hover {
  color: #ff69b4;
  text-decoration: underline;
}

.user-actions{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 20px;
}

.icon {
  height: 25px;
  padding: 8px;
  width: auto;
  border-radius: 45%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
