.footer{
  background-color: #f3d5ca;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-logo {
  height: 100px;
  width: auto;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-icons {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: black;
  font-size: 18px;
  transition: all 0.3s ease;
  background-color: #f3d5ca;
}

.facebook :hover {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #1877f2;
  color: white;
}
.twitter :hover {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  background-color: #1da1f2;
}
.instagram :hover {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}
.linkedin :hover {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  background-color: #0077b5;
}

.social-icons a:hover {
  transform: scale(1.1);
  opacity: 0.9;
}

.footer-links h3,
.footer-contact h3 {
  color: #d98986;
  margin-bottom: 10px;
  font-weight: 600;
}

.footer-links a {
  color: black;
  text-decoration: none;
  font-size: 16px;
}

.footer-links a:hover {
  color: #ff69b4;
  text-decoration: underline;
}

.footer-contact p {
  margin: 5px 0;
  font-size: 16px;
  color: black;
}

.footer-links li{
  list-style: none;
  padding: 0;
  margin-bottom: 6px;
}

.footer-links a {
  color: #5a5a5a;
  text-decoration: none;
  transition: 0.3s;
}
.footer-links a:hover {
  color: #e6a6a1;
}
