.login-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.login-banner-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-banner {
  max-width: 400px;
  height: auto;
  border-radius: 0.5rem;
  object-fit: cover;
}

h2 {
  font-family: 'Great Vibes', cursive;
  font-size: 3rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form div {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.input-group input {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.375rem;
  font-size: 1rem;
}
.login-box {
  flex: 1;
  padding: 1rem;
}

.login-btn {
  width: 50%;
  padding: 0.75rem;
  background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
  color: #ffffff;
  font-weight: bold;
  border: none;
  border-radius: 0.375rem;
  font-size: 1rem;
  cursor: pointer;
  /* margin-top: 1rem; */
  align-self: center;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.social-login-section{
  width: 100%;
  margin-top: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-social-login {
  width: 1.5rem;
  height: auto;
  margin-right: 0.5rem;
}

.btn-social-login {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 0.375rem;
  cursor: pointer;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.social-login-buttons {
  display: flex;
  flex-direction: column;
}

.register {
  color: #ff6f91;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
  &:hover {
    color: #ff3b6f;
  }
  cursor: pointer;
}
