.detail-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-bottom: 20px;
}

.img_product_detail {
  width: 400px;
  height: auto;
}

.product-info {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.description {
  font-family: var(--font-main);
  font-size: 15px;
  line-height: 1.5;
  text-align: justify;
}

.product-name {
  font-family: var(--font-productName);
  font-size: 30px;
  margin-bottom: 10px;
}

.brand-name {
  font-family: var(--font-main);
  font-size: 18px;
  color: #555;
  margin-bottom: 10px;
}

.price {
  font-family: var(--font-main);
  font-size: 20px;
  color: #e91e63;
  margin-bottom: 15px;
}


@media (max-width: 768px) {
  .detail-container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .img_product_detail {
    width: 100%;
    max-width: 300px;
  }

  .product-info {
    max-width: 100%;
    padding: 0 15px;
  }
}
