.dropdown-header{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 1rem;
}

select {
  width: 100% ;
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.file-container{
  /* margin-top: 20px; */
  text-align: right;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.file{
  display: flex;
  align-items: center;
  gap: 8px;
}
.file-btn {
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.disabled-button {
  cursor: not-allowed;
}
