<div class="product-list-container">
  <div class="category">
    <h2>Categories</h2>
    <div class="category-buttons">
      <button
        (click)="showAllProducts()"
        [class.active]="selectedCategory === null"
        class="category-button"
      >
        All Products
      </button>
      <h3>By Category</h3>
      <button
        *ngFor="let category of categories"
        (click)="filterByCategory(category)"
        [class.active]="selectedCategory === category"
        class="category-button"
      >
        {{ category }}
      </button>
      <h3>By Brand</h3>
      <button
        *ngFor="let brand of brands"
        (click)="filterByBrand(brand)"
        [class.active]="selectedCategory === brand"
        class="category-button"
      >
        {{ brand }}
      </button>
    </div>
  </div>

  <div class="products-grid">
    <div *ngFor="let product of paginatedProducts" class="product-item">
      <img [src]="product.image_url" alt="{{ product.name }}" class="img" (click)="goToDetail(product.product_id)" />
      <div class="product-details">
        <h3>{{ product.name }}</h3>
        <p>{{ currencyService.convertNumberToCurrency(product.price * 1000) }}</p>
      </div>

      <app-add-to-cart
        [product]="{
          product_id: product.product_id,
          name: product.name,
          price: product.price * 1000,
          image: product.image_url,
          code: '#' + product.product_id,
          options:
            (product.brands?.name || 'No Brand') +
            ' • ' +
            (product.categories?.name || 'No Category')
        }"
        [showQuantitySelector]="true"
        [showCartInfo]="true"
        [maxQuantity]="10"
        (productAdded)="onProductAdded($event)"
      >
      </app-add-to-cart>
    </div>
  </div>
</div>

<div class="pagination">
  <button
    *ngFor="let page of [].constructor(Math.ceil(products.length / pageSize)); let i = index"
    (click)="changePage(i + 1)"
    [class.active]="currentPage === i + 1"
  >
    {{ i + 1 }}
  </button>
</div>
