<div class="product-list-container">
  <div class="category">
    <h2>Categories</h2>
    <div class="category-buttons">
      <button
        (click)="showAllProducts()"
        [class.active]="selectedCategory === null"
        class="category-button"
      >
        All Products
      </button>
      <h3>By Category</h3>
      <button
        *ngFor="let category of categories"
        (click)="filterByCategory(category)"
        [class.active]="selectedCategory === category"
        class="category-button">
        {{ category }}
      </button>
      <h3>By Brand</h3>
      <button
        *ngFor="let brand of brands"
        (click)="filterByBrand(brand)"
        [class.active]="selectedCategory === brand"
        class="category-button"
      >
        {{ brand }}
      </button>
    </div>
  </div>

  <div class="products-grid">
    <div
      *ngFor="let product of paginatedProducts"
      class="product-item"
      (click)="goToDetail(product.product_id)"
    >
      <img [src]="product.image_url" alt="{{ product.name }}" class="img" />
      <div class="product-details">
        <h3>{{ product.name }}</h3>
        <p>{{ currencyService.convertNumberToCurrency(product.price * 1000) }}</p>
      </div>
      <button class="add-to-cart-button" (click)="addToCart(product, $event)">Add to Cart</button>
    </div>
  </div>
</div>

<div class="pagination">
  <button
    *ngFor="let page of [].constructor(Math.ceil(products.length / pageSize)); let i = index"
    (click)="changePage(i + 1)"
    [class.active]="currentPage === i + 1"
  >
    {{ i + 1 }}
  </button>
</div>
